<header class="header">
    <div class="header container">
        <div class="header-logo">
            <a href="./index.html" class="header-logo-svg link">
                <svg class="header-logo-svg" width="24" height="24">
                  <use href=""></use>
                </svg>
                <svg class="header-logo-text-svg" width="77" height="13.27">
                    <use href=""></use>
                  </svg>
              </a>
        </div>
        <nav class="header-nav">
            <ul class="header-nav-list list">
                <li class="header-nav-item">
                  <a class="header-nav-link link" href="./index.html">HOME</a>
                </li>
                <li class="header-nav-item">
                  <a class="header-nav-link link" href="../shopping-list.html">
                    <span class="header-nav-text">SHOPPING LIST</span>
                    <svg class="header-nav-svg" width="20" height="20">
                    <use href=""></use>
                  </svg>
                </a>
                </li>                
              </ul>
        </nav>
        <label id="switch" class="switch">
            <input type="checkbox" onchange="toggleTheme()" id="slider">
            <span class="slider round"></span>
            <svg class="switch-svg" width="40" height="20">
                <use href=""></use>
            </svg>
        </label>
        <button type="button" class="burger-btn btn js-open-menu">
            <svg class="burger-svg" width="28" height="28">
              <use href=""></use>
            </svg>
          </button>
        <div class="header-actions">
            <a href="./modal-sing-up.html"><span class="header-actions-text">Sing up</span>
                <svg class="header-actions-svg" width="20" height="20">
                    <use href=""></use>
                </svg>
            </a>
        </div>             
    </div>
</header>


