<div id="container-modal-shop-list">CONTAINER</div>

<div class="backdrop">
  <div class="modal-shop-list">
    <button type="button" class="button modal-shop-list-close">
      <svg class="modal-shop-list-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-shop-list-wrap">
      <img src="" alt="" width="287" height="408" />
      <div class="modal-shop-list-info">
        <h1 class="modal-shop-list-title">title</h1>
        <h2 class="modal-shop-list-author">author</h2>
        <p class="modal-shop-list-desc">descrition</p>
        <div class="modal-shop-list-buy">
          <a
            class="link modal-shop-list-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="" alt="Amazon" width="62" height="19" />
          </a>
          <a
            class="link modal-shop-list-link"
            href="#"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="" alt="Apple Books" width="33" height="32" />
            <button type="button" class="button">add to shopping list</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
