<div class="container shop-list-container">
  <h1
    class="shop-list-main-title animate__animated animate__bounceInDown animate__slow"
  >
    <span>Shopping </span>List
  </h1>
  <ul class="shopping-list">
    <!-- Здесь будут отображаться книги из localStorage -->
  </ul>

  <div class="empty-message">
    <p id="no-books-message">
      This page is empty, add some books and proceed to order.
    </p>
    <img
      class="img-shop-list"
      srcset="./img/empty-2x.png 2x"
      src="./img/empty.png"
      alt="books"
      width="265"
      height="198"
    />
  </div>
  <div class="pagination">
    <button id="firstPage" class="buttonPag">
      <svg class="buttonPagSvg" width="38" height="38">
        <use href="./img/icons.svg#icon-slider1"></use>
      </svg>
    </button>
    <button id="prevPage" class="buttonPag">
      <svg class="buttonPagSvg" width="38" height="38">
        <use href="./img/icons.svg#icon-slider2"></use>
      </svg>
    </button>
    <div id="currentPage" class="buttonPag">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
      >
        <circle cx="19" cy="19" r="18.5" fill="#111111" stroke="#111111" />
      </svg>
    </div>
    <div id="nextcurrentPage" class="buttonPag">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
      >
        <circle cx="19" cy="19" r="18.5" stroke="#111111" />
      </svg>
    </div>
    <button id="ellipsis" class="buttonPag">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
      >
        <circle cx="19" cy="19" r="18.5" stroke="#111111" />
      </svg>
    </button>
    <button id="nextPage" class="buttonPag">
      <svg class="buttonPagSvg" width="38" height="38">
        <use href="./img/icons.svg#icon-slider6"></use>
      </svg>
    </button>
    <button id="goToLast" class="buttonPag">
      <svg class="buttonPagSvg" width="38" height="38">
        <use href="./img/icons.svg#icon-slider7"></use>
      </svg>
    </button>
  </div>
</div>
