<div class="container">
    <div class="shopping-list">
  <!-- карточки книг -->
</div>
<div class="empty-message">  
  <p>This page is empty, add some books and proceed to order.</p>
  <img src="./img/IMG_96061.png" alt="" />
</div>
<div class="content">
  <ul class="items">
    <li>Item 1</li>
    <li>Item 2</li>
  </ul>

  <div class="pagination">
    <button id="firstPage"></button>
    <button id="prevPage"></button>
    <span id="pageNumbers"></span>
    <button id="nextPage"></button>
    <button id="lastPage"></button>
  </div>
</div>


