<div class="support-container-shop">
    <div class="support-title-conteiner">
      <h2 class="title-support">Support Ukraine</h2>
      <svg class="emblem_ukraine" width="20" height="32px">
        <use class="icon-uk" href="./img/icons.svg#icon-trident"></use>
      </svg>
  
    </div>

    <div class="support_box_list"></div>
    <ul class="support_list"></ul>
   
    <div class="button-container">
      <button class="support_button" aria-label="Scroll down" type="button">
        <svg class="button-arrow">
          <use  class="use-arrow
          " href="./img/icons.svg#icon-down-support"></use>
        </svg>
      </button>

    </div>

  </div>

</div>
 
