

<div class="support-container container">
    <div class="support-title-conteiner">
      <h2 class="title-support">Support Ukraine</h2>
      <svg class="emblem_ukraine" width="20" height="32px">
        <use class="icon-uk" href="./img/icons.svg#icon-trident"></use>
      </svg>
    </div>
    <ul class="support-box-list"></ul>

    <div class="button-container">

      <button aria-label="Scroll down" type="button" class="support_button">
        <svg class="button-arrow">
          <use href="./img/icons.svg#icon-arrow-up" width="20" height="20px"></use>
        </svg>
      </button>
    </div>
  </div>