<div class="support-container-shop">
  <div class="support-box-content">
    <div class="support-title-conteiner">
      <h2 class="title-support">Support Ukraine</h2>
      <svg class="emblem_ukraine animate__animated animate__heartBeat animate__slower animate__infinite" width="20" height="32">
        <use class="icon-uk" href="./img/icons.svg#icon-trident"></use>
      </svg>
    </div>
    <ul class="support_list"></ul>
  </div>
  <div class="button-container">
    <button type="button" class="support_button animate__animated animate__pulse animate__infinite">
      <svg class="button-arrow">
        <use class="use-arrow" href="./img/icons.svg#icon-down-support"></use>
      </svg>
    </button>
  </div>
</div>
