.header {
  background: var(--header-background);
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--main-text-color);
}

.header-inner {
  max-height: 64px;
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-logo-link {
  display: flex;
  align-items: center;
}

.header-logo-svg {
  margin-right: 8px;
}

.header-logo-text-svg {
  fill: var(--main-text-color);
}

.current-header {
  background-color: var(--accent-color-second);
  border-radius: 36px;
}

.current-mob {
  background-color: var(--accent-color-second);
  border-radius: 36px;
}

.switch-btn-blocks {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
/**Switch theme**/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
  transition: transform var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: var(--white);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

input:focus + .slider {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}

/*TODO Mob media*/
@media screen and (max-width: 767px) {
  .header-inner {
    max-width: 375px;
  }

  .header-nav {
    display: none;
  }

  .header-actions {
    display: none;
  }

  /**Burger**/
  .burger-btn {
    display: flex;
    padding: 0;
  }

  .burger-svg {
    stroke: var(--main-text-color);
    transition: stroke var(--transition-dur-and-func);
  }

  .burger-svg:hover,
  .burger-svg:focus {
    stroke: var(--accent-color-first);
  }

  /**Mob menu**/

  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    transition: opacity var(--transition-dur-and-func),
      visibility var(--transition-dur-and-func);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mob-header {
    width: 100%;
    background: var(--header-background);
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid var(--main-text-color);
  }

  .mob-logo-btn {
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    height: 64px;
  }

  .mob-header-logo {
    display: flex;
  }

  .mob-header-logo-link {
    display: flex;
    align-items: center;
  }

  .mob-header-logo-svg {
    margin-right: 8px;
  }

  .mob-header-logo-text {
    fill: var(--main-text-color);
  }

  .mob-close-btn {
    display: flex;
    padding: 0;
  }

  .menu-close-btn-svg {
    stroke: var(--main-text-color);
    transition: stroke var(--transition-dur-and-func);
  }

  .menu-close-btn-svg:hover,
  .menu-close-btn-svg:focus {
    stroke: var(--accent-color-first);
  }

  .mob-menu-btn-nav {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .mob-btn-nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #fff 100%
    );
  }

  .mob-btn-nav::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 2;
    background-image: url('../img/books-mob.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mob-btn-nav::after {
      background-image: url('../img/books-mob-2x.png');
    }
  }

  .mob-btn-nav {
    max-width: 375px;
    padding: 40px 20px;
    margin: 0 auto;
  }

  .signup-mob-btn {
    z-index: 3;
    position: relative;
    border-radius: 18px;
    border: 1.5px solid var(--main-text-color);
    background: var(--accent-color-first);
    padding: 14px;
    min-width: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 138px;
  }

  .mob-header-actions-text {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.04em;
    margin-right: 90px;
  }

  .mob-nav {
    z-index: 3;
    position: relative;
    padding-left: 125px;
    display: flex;
  }

  .mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .mob-nav-item {
    display: flex;
    padding: 8px 16px;
  }

  .mob-menu-link {
    display: flex;
    align-items: flex-end;
  }

  .mob-nav-text {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .mob-nav-svg {
    fill: var(--white);
    margin-left: 4px;
  }
}

/*TODO Tablet media*/
@media screen and (min-width: 768px) {
  .header-inner {
    max-height: 72px;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .header-logo {
    margin-right: 40px;
  }

  .header-nav-list {
    display: flex;
  }

  .header-nav-item {
    padding: 8px 16px;
    display: flex;
  }

  .header-nav-link {
    display: flex;
    align-items: flex-end;
  }

  .header-nav-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .header-nav-svg {
    fill: var(--main-text-color);
    margin-left: 4px;
  }

  .switch-btn-blocks {
    margin-left: auto;
  }

  .switch {
    margin-right: 24px;
  }

  .header-actions {
    display: flex;
    align-items: center;
  }

  .signup-btn {
    color: var(--white);
    border-radius: 18px;
    border: 1.5px solid var(--main-text-color);
    background: #4f2ee8;
    padding: 14px;
    min-width: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-actions-text {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.04em;
    margin-right: 90px;
  }

  .burger-btn {
    display: none;
  }

  .mob-menu {
    display: none;
  }
}

/*TODO Desktop media*/
@media screen and (min-width: 1440px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-nav-list {
    gap: 8px;
  }
}
