.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*! ------------MOBILE------------------ */
@media screen and (min-width: 375px) {
  .shop-list-container {
    background-color: var(--background-color);
  }

  .shop-list-main-title {
    margin-bottom: 40px;
    color: var(--accent-color-first);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: -1.28px;
  }

  .shop-list-main-title span {
    color: var(--main-text-color);
  }

  .shopping-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .shop-list-item {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    gap: 14px;
    width: 335px;
    /* height: 170px; */
    padding: 14px;
    border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.4);
    background: var(--header-background);
  }

  .shop-list-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color-first);
    border-radius: 50%;
    border: none;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    transition: stroke var(--transition-dur-and-func);
  }

  .shop-list-btn-icon {
    stroke: var(--white);
  }

  .shop-list-btn .shop-list-btn-icon:hover,
  .shop-list-btn .shop-list-btn-icon:focus {
    stroke: var(--accent-color-first);
    stroke-width: 2;
  }

  .shop-list-img {
    width: 100px;
    height: 142px;
  }

  .shop-list-info {
    width: 193px;
  }

  .shop-list-title {
    margin-bottom: 4px;
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.13; /* 112.5% */
    letter-spacing: -0.64px;
    text-transform: uppercase;
  }

  .shop-list-category {
    margin-bottom: 8px;
    color: var(--text-color-first);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.36px;
  }

  .shop-list-desc {
    margin-bottom: 16px;
    overflow: hidden;
    color: var(--main-text-color);
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
  }

  .shop-list-author {
    position: absolute;
    left: 128px;
    bottom: 14px;
    color: var(--text-color-first);
    font-size: 12px;
    font-style: italic;
    line-height: 1.17; /* 116.667% */
    letter-spacing: -0.48px;
  }

  .shop-list-buy {
    position: absolute;
    bottom: 14px;
    right: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .shop-list-link {
    display: block;
  }

  .buy-icon {
    filter: var(--filter-icon);
  }

  .shop-list-link .buy-icon:hover,
  .shop-list-link .buy-icon:focus {
    filter: var(--filter-icon-hover);
  }

  /**============ MODAL Pagination=============*/

  .img-shop-list {
    width: 265px;
    height: 198px;
    margin-right: auto;
    margin-left: auto;
  }

  #no-books-message {
    width: 244px;
    margin-right: auto;
    margin-left: auto;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 11.29; /* 128.571% */
    letter-spacing: -0.28px;
  }
}

/*! ------------TABLET--------------- */

@media screen and (min-width: 768px) {
  .shop-list-main-title {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }

  .shopping-list {
    gap: 24px;
  }

  .shop-list-item {
    padding: 24px;
    gap: 24px;
    width: 704px;
    /* height: 213px; */
  }

  .shop-list-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }

  .shop-list-img {
    width: 116px;
    height: 165px;
  }

  .shop-list-info {
    width: 508px;
  }

  .shop-list-category {
    margin-bottom: 14px;
  }

  .shop-list-desc {
    margin-bottom: 48px;
  }

  .shop-list-author {
    left: 164px;
    bottom: 24px;
  }

  .shop-list-buy {
    gap: 16px;
  }

  .icon-amazon {
    width: 48px;
    height: 15px;
  }

  .icon-apple-books {
    width: 28px;
    height: 27px;
  }

  .shop-list-buy {
    bottom: 24px;
    right: 24px;
  }

  /**============ TABLET Pagination=============*/

  .img-shop-list {
    width: 322px;
    height: 241px;
  }

  #no-books-message {
    width: 349px;
    font-size: 18px;
    line-height: 1.33; /* 133.333% */
    letter-spacing: -0.36px;
  }
}

/*! ------------DESCTOP--------------- */

@media screen and (min-width: 1440px) {
  .shop-list-item {
    width: 996px;
    /* max-width: 100%; */
  }

  .shop-list-info {
    width: 808px;
  }
}

/*?============ Pagination=============*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPag {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #eac645;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  font-weight: bold;
}

.buttonPag img {
  max-width: 100%;
  max-height: 100%;
}

.button.next {
  border: 2px solid #eac645;
  fill: #eac645;
}

#ellipsis {
  pointer-events: none;
  cursor: default;
}

button:hover {
  background-color: #ddd;
}

.shop-list {
  color: #111;
  padding-top: 40px;
  padding-left: 20px;
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -1.28px;
}

.shop-list-span {
  color: #4f2ee8;
}
